@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-display: swap;
    src: url("./JetBrainsMono\[wght\].woff2") format("woff2-variations");
    font-feature-settings: "zero";
  }
}

@layer components {
  #container {
    @apply flex h-screen w-screen flex-col items-center bg-slate-200 font-mono text-slate-700 dark:bg-slate-800 dark:text-slate-300;
  }

  .input-suite {
    @apply flex h-8 w-screen min-w-0 justify-center text-sm sm:h-10 sm:text-base;
  }

  .framed-box {
    @apply rounded-md border-2 border-slate-300 bg-white outline-none transition focus-within:border-slate-400 dark:border-slate-700 dark:bg-slate-900 dark:focus-within:border-slate-500;
  }

  .jump-button {
    @apply mx-1 min-w-fit flex-shrink-0 rounded-md border-2 border-slate-300 bg-slate-700 px-2 font-normal text-white opacity-50 transition hover:opacity-100 sm:mx-2 sm:px-4 dark:border-slate-700 dark:bg-slate-300 dark:text-slate-800;
  }

  select {
    @apply framed-box mx-1 min-w-24 flex-shrink-0 basis-24 px-1 sm:mx-2 sm:min-w-32 sm:basis-40 sm:px-2;
  }

  input {
    @apply framed-box mx-1.5 min-w-32 max-w-80 flex-shrink basis-80 text-center focus-within:placeholder:text-transparent sm:mx-2;
  }

  #title {
    @apply mt-12 text-5xl font-bold sm:mt-20 sm:text-[5rem];
  }

  #subtitle {
    @apply mt-5 text-center text-base text-slate-600 sm:mt-6 sm:text-xl dark:text-slate-400;
  }

  #input-box-prob-id,
  #input-box-prob-name {
    @apply mx-1 px-2 sm:mx-2 sm:px-4;
  }

  #bottom-frame {
    @apply mb-6 flex h-7 w-screen justify-center text-sm text-white sm:mb-10 sm:mt-2 sm:h-10 sm:text-base;
  }

  #htkt-frame {
    @apply mx-2 mb-4 mt-auto flex min-w-72 max-w-xl flex-shrink flex-col rounded-md bg-slate-100 p-2 text-sm sm:mb-5 sm:min-w-[35rem] sm:max-w-[35rem] sm:p-3 sm:text-base dark:bg-slate-900;
  }

  #htkt {
    @apply mb-1 max-h-24 overflow-hidden overflow-y-hidden text-center;
  }

  #htkt-src {
    @apply max-h-10 overflow-hidden text-center text-xs text-slate-500 sm:text-sm;
  }
}
