@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(JetBrainsMono-Regular.woff2) format("woff2");
    }

    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(JetBrainsMono-Bold.woff2) format("woff2");
    }

}
