@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    font-style: normal;
    font-display: swap;
    src: url("../resources/JetBrainsMono.woff2") format("woff2-variations");
    font-weight: 400 700;
  }

  * {
    font-feature-settings: "calt", "zero";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
